@page
@model FluentValidationModel
@{
    ViewData["Title"] = "Fluent Validation";
}
<div class="center-align">
    <a asp-page="/Index">
        <img width="200" alt="VeeValidate Logo" src="~/images/vee-validate.svg" />
        <img width="200" alt="Fluent Validation Logo" src="~/images/fluent-validation.png" />
    </a>
</div>
<h1>Fluent Validation Rules</h1>
<ul>
    <li>
        <a href="#credit-card-rule">CreditCard</a>
    </li>
    <li>
        <a href="#email-rule">Email</a>
    </li>
    <li>
        <a href="#equal-rule">Equal</a>
    </li>
    <li>
        <a href="#greater-than-or-equal-rule">GreaterThanOrEqual</a>
    </li>
    <li>
        <a href="#inclusive-between-rule">InclusiveBetween</a>
    </li>
    <li>
        <a href="#length-rule">Length</a>
    </li>
    <li>
        <a href="#less-than-or-equal-rule">LessThanOrEqual</a>
    </li>
    <li>
        <a href="#matches-rule">Matches</a>
    </li>
    <li>
        <a href="#maximum-length-rule">MaximumLength</a>
    </li>
    <li>
        <a href="#minimum-length-rule">MinimumLength</a>
    </li>
    <li>
        <a href="#not-empty-rule">NotNull/NotEmpty</a>
    </li>
</ul>

<div id="app">
    <form v-on:submit.prevent="submit" novalidate>
        <div>
            <h2 id="credit-card-rule">CreditCard</h2>
            <div class="input-field">
                <input asp-for="CreditCard" />
                <label asp-for="CreditCard"></label>
                <span asp-validation-for="CreditCard"></span>
            </div>
        </div>
        <div>
            <h2 id="email-rule">Email</h2>
            <div class="input-field">
                <input asp-for="EmailAddress" />
                <label asp-for="EmailAddress"></label>
                <span asp-validation-for="EmailAddress"></span>
            </div>
        </div>
        <div>
            <h2 id="equal-rule">Equal</h2>
            <div class="input-field">
                <input asp-for="Compare" />
                <label asp-for="Compare"></label>
                <span asp-validation-for="Compare"></span>
            </div>
            <div class="input-field">
                <input asp-for="Confirm" />
                <label asp-for="Confirm"></label>
                <span asp-validation-for="Confirm"></span>
            </div>
        </div>
        <div>
            <h2 id="greater-than-or-equal-rule">GreaterThanOrEqual</h2>
            <p>Enter a number greater than or equal to 3:</p>
            <div class="input-field">
                <input asp-for="MinValue" />
                <label asp-for="MinValue"></label>
                <span asp-validation-for="MinValue"></span>
            </div>
            <p>Select a date after or on 1st March 2018:</p>
            <div class="input-field">
                <input asp-for="MinDate" v-date />
                <label asp-for="MinDate"></label>
                <span asp-validation-for="MinDate"></span>
            </div>
        </div>
        <div>
            <h2 id="less-than-or-equal-rule">LessThanOrEqual</h2>
            <p>Enter a number less than or equal to 10:</p>
            <div class="input-field">
                <input asp-for="MaxValue" />
                <label asp-for="MaxValue"></label>
                <span asp-validation-for="MaxValue"></span>
            </div>
            <p>Select a date before or on the 31st December 2018:</p>
            <div class="input-field">
                <input asp-for="MaxDate" v-date />
                <label asp-for="MaxDate"></label>
                <span asp-validation-for="MaxDate"></span>
            </div>
        </div>
        <div>
            <h2 id="inclusive-between-rule">Inclusive</h2>
            <p>Enter a number between 1 and 10:</p>
            <div class="input-field">
                <input asp-for="Range" />
                <label asp-for="Range"></label>
                <span asp-validation-for="Range"></span>
            </div>
            <p>Select a date in December 2018:</p>
            <div class="input-field">
                <input asp-for="DateRange" v-date />
                <label asp-for="DateRange"></label>
                <span asp-validation-for="DateRange"></span>
            </div>
        </div>
        <div>
            <h2 id="length-rule">Length</h2>
            <p>Enter between 3 and 6 characters:</p>
            <div class="input-field">
                <input asp-for="StringLength" />
                <label asp-for="StringLength"></label>
                <span asp-validation-for="StringLength"></span>
            </div>
        </div>
        <div>
            <h2 id="matches-rule">Matches</h2>
            <p>Enter capital letters and numbers only:</p>
            <div class="input-field">
                <input asp-for="Matches" />
                <label asp-for="Matches"></label>
                <span asp-validation-for="Matches"></span>
            </div>
        </div>
        <div>
            <h2 id="not-empty-rule">NotEmpty</h2>
            <div class="input-field">
                <input asp-for="NotEmpty" />
                <label asp-for="NotEmpty"></label>
                <span asp-validation-for="NotEmpty"></span>
            </div>
        </div>
        <div>
            <h2 id="maximum-length-rule">MaximumLength</h2>
            <p>Enter up to 6 characters:</p>
            <div class="input-field">
                <input asp-for="MaxLength" />
                <label asp-for="MaxLength"></label>
                <span asp-validation-for="MaxLength"></span>
            </div>
        </div>
        <div>
            <h2 id="minimum-length-rule">MinimumLength</h2>
            <p>Enter at least 3 characters:</p>
            <div class="input-field">
                <input asp-for="MinLength" />
                <label asp-for="MinLength"></label>
                <span asp-validation-for="MinLength"></span>
            </div>
        </div>
        <button type="submit" class="btn waves-effect">Validate</button>
    </form>
</div>

@section Scripts{
    <script src="~/js/directives/date.js"></script>
    <script>
        new Vue({
            el: "#app",
            methods: {
                submit: function () {
                    this.$validator.validateAll()
                        .then(function (result) {
                            if (result) {
                                M.toast({ html: 'Passed Validation', classes: 'green' });
                            } else {
                                M.toast({ html: 'Validation Failed!', classes: 'red' });
                            }
                        });
                }
            }
        })
    </script>
}