@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="center-align">
    <img width="200" alt="VeeValidate Logo" src="~/images/vee-validate.svg"/>
</div>
<h1>Validation Examples</h1>
<a asp-page="/DataAnnotations">Data Annotations</a>
<a asp-page="/FluentValidation">Fluent Validation</a>