@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Validation Attributes</h1>
<ul>
    <li>
        <a href="#compare-attribute">[Compare]</a>
    </li>
    <li>
        <a href="#credit-card-attribute">[CreditCard]</a>
    </li>
    <li>
        <a href="#email-address-attribute">[EmailAddress]</a>
    </li>
    <li>
        <a href="#file-extensions-attribute">[FileExtensions]</a>
    </li>
    <li>
        <a href="#range-attribute">[Range]</a>
    </li>
    <li>
        <a href="#regex-attribute">[RegularExpression]</a>
    </li>
    <li>
        <a href="#required-attribute">[Required]</a>
    </li>
    <li>
        <a href="#max-length-attribute">[MaxLength]</a>
    </li>
    <li>
        <a href="#min-length-attribute">[MinLength]</a>
    </li>
    <li>
        <a style="text-decoration: line-through">[Phone]</a>
    </li>
    <li>
        <a href="#string-length-attribute">[StringLength]</a>
    </li>
    <li>
        <a href="#url-attribute">[Url]</a>
    </li>
</ul>

<div id="app">
    <form v-on:submit.prevent="submit" novalidate>
        <div>
            <h2 id="compare-attribute">[Compare]</h2>
            <div class="input-field">
                <input asp-for="Compare" />
                <label asp-for="Compare"></label>
                <span asp-validation-for="Compare"></span>
            </div>
            <div class="input-field">
                <input asp-for="Confirm" />
                <label asp-for="Confirm"></label>
                <span asp-validation-for="Confirm"></span>
            </div>
        </div>
        <div>
            <h2 id="credit-card-attribute">[CreditCard]</h2>
            <div class="input-field">
                <input asp-for="CreditCard" />
                <label asp-for="CreditCard"></label>
                <span asp-validation-for="CreditCard"></span>
            </div>
        </div>
        <div>
            <h2 id="email-address-attribute">[EmailAddress]</h2>
            <div class="input-field">
                <input asp-for="EmailAddress" />
                <label asp-for="EmailAddress"></label>
                <span asp-validation-for="EmailAddress"></span>
            </div>
        </div>
        <div>
            <h2 id="file-extensions-attribute">[FileExtensions]</h2>
            <p>Select a .txt or .pdf file:</p>
            <div class="file-field input-field">
                <div class="btn">
                    <input asp-for="FileExtensions" type="file" />
                    <label asp-for="FileExtensions" class="white-text"></label>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text">
                </div>
                <span asp-validation-for="FileExtensions"></span>
            </div>
        </div>
        <div>
            <h2 id="range-attribute">[Range]</h2>
            <div>
                <p>Select a number between 1 and 10:</p>
                <div>
                    <p class="range-field">
                        <input type="range" asp-for="Range" min="0" max="20" />
                    </p>
                    <span asp-validation-for="Range"></span>
                </div>
            </div>
            @*<div class="input-field">
                <input asp-for="Range" />
                <label asp-for="Range"></label>
                <span asp-validation-for="Range"></span>
            </div>*@
            <div>
                <p>Select a date in December 2018:</p>
                <div class="input-field">
                    <input asp-for="DateRange" v-date />
                    <label asp-for="DateRange"></label>
                    <span asp-validation-for="DateRange"></span>
                </div>
            </div>
        </div>
        <div>
            <h2 id="regex-attribute">[RegularExpression]</h2>
            <p>Enter capital letters and numbers only:</p>
            <div class="input-field">
                <input asp-for="Regex" />
                <label asp-for="Regex"></label>
                <span asp-validation-for="Regex"></span>
            </div>
        </div>
        <div>
            <h2 id="required-attribute">[Required]</h2>
            <div class="input-field">
                <input asp-for="Required" />
                <label asp-for="Required"></label>
                <span asp-validation-for="Required"></span>
            </div>
        </div>
        <div>
            <h2 id="max-length-attribute">[MaxLength]</h2>
            <p>Enter up to 6 characters:</p>
            <div class="input-field">
                <input asp-for="MaxLength" />
                <label asp-for="MaxLength"></label>
                <span asp-validation-for="MaxLength"></span>
            </div>
        </div>
        <div>
            <h2 id="min-length-attribute">[MinLength]</h2>
            <p>Enter at least 3 characters:</p>
            <div class="input-field">
                <input asp-for="MinLength" />
                <label asp-for="MinLength"></label>
                <span asp-validation-for="MinLength"></span>
            </div>
        </div>
        <div>
            <h2 id="string-length-attribute">[StringLength]</h2>
            <p>Enter between 3 and 6 characters:</p>
            <div class="input-field">
                <input asp-for="StringLength" />
                <label asp-for="StringLength"></label>
                <span asp-validation-for="StringLength"></span>
            </div>
        </div>
        <div>
            <h2 id="url-attribute">[Url]</h2>
            <div class="input-field">
                <input asp-for="Uri" />
                <label asp-for="Uri"></label>
                <span asp-validation-for="Uri"></span>
            </div>
        </div>
        <button type="submit" class="btn waves-effect">Validate</button>
    </form>
</div>

@section Scripts{
    <script src="~/js/directives/date.js"></script>
    <script>
        new Vue({
            el: "#app",
            methods: {
                submit: function () {
                    this.$validator.validateAll()
                        .then(function (result) {
                            if (result) {
                                M.toast({ html: 'Passed Validation', classes: 'green' });
                            } else {
                                M.toast({ html: 'Validation Failed!', classes: 'red' });
                            }
                        });
                }
            }
        });
    </script>
}
