################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/VeeValidate.AspNetCore/bin/Debug/netstandard2.0
/src/VeeValidate.AspNetCore/obj
