<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vee Validate with Asp Net Core</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="~/lib/materialize-css/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="center-align">
        <a asp-page="/Index">
            <img width="200" alt="VeeValidate Logo" src="~/images/vee-validate.svg" />
            <img width="300" alt="Fluent Validation Logo" src="~/images/fluent-validation.png" />
        </a>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/materialize-css/dist/js/materialize.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vee-validate/vee-validate.min.js"></script>
    <script asp-fallback-test="window.Promise"
            asp-fallback-src="~/lib/es6-promise/es6-promise.auto.min.js">
    </script>
    <script>
        Vue.use(VeeValidate);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>